
{% extends 'base.html.twig' %}
{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container-fluid">
	<div class="container">
		<h1 class="text-center">BABY LIST</h1>
	</div>

	{% if listes %}
		<h2>Vos listes</h2>
	{% for liste in listes %}
		<div>
			<div>{{ liste.name }}</div>
			<a href="{{ path('liste', {id:liste.id}) }}">Got to {{ liste.name }}</a>
		</div>
	{% else %}
		<div>
			<h2>Vous pouvez créer une autre Liste</h2>
			<div class="container">
				<button>
					<a href="{{ path('create_liste') }}">Create Liste</a>
				</button>
			</div>
		</div>
	{% endfor %}
	{% endif %}
</div>
{% endblock %}
