/**HEADER**/
/**
colors :
red : #DE3C4B
blue primary : #2C758E
blue secondary : #1C4C5C
violet : #A499B3
vert : #2BA6A4
 */
.header-nav{
	background:#2c758e ;
}
.logout{
	margin-left: 0.3rem;
}
/**GENERALTAGS**/
body{
	font-family: 'Montserrat', sans-serif;
	color: #444444;
}
h1{
	color: #2c758e;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 3rem;
	margin: 1rem auto;
}
h2{
	color: #2c758e;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin: 1rem auto;
}
.logo{
	color: white;
}
.alert.alert-success{
	background: #2BA6A4 !important;
	color: white !important;
}
.alert.alert-danger{
	background: #DE3C4B !important;
	color: white !important;
}
a{
	text-decoration: none;
	color: #2c758e;
	font-weight: bold;
}
a:hover{
	color: #1C4C5C;
}
a.warning{
	text-decoration: none;
	color: #DE3C4B;
	font-weight: bold;
}
a.warning:hover{
	color: #DE3C4B;
}
.liste_btn{
	margin: 0;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	border-radius: 10px;
}
.btn:hover {
	background-position: right center; /* change the direction of the change here */
	color: white;
}
.btn_action {
	background-image: linear-gradient(to right, #1C4C5C 0%, #2C758E 51%, #1C4C5C 100%);
}
.btn-lg.btn_action.secondary{
	background-image: linear-gradient(to right, #e3d4d9 0%, #e3d4d9 51%, #e3d4d9 100%);
}
.btn_warning{
	background-image: linear-gradient(to right, #DE3C4B 0%, #DE3C4B 51%, #DE3C4B 100%);
}
.liste_btn a{
	text-decoration: none;
}
.form-group{
	margin: 1rem 0;
}
.form-group label{
	color: #444444;
}
input::placeholder,textarea::placeholder,input[type=date]{
	color: #2c758e !important;
	opacity: 0.5 !important;
}

/**LOGIN**/
.login-block{
	margin: 2rem auto;
}

/**FOOTER**/
footer{
	background:#2c758e ;
	padding: 2rem 1rem;
	color: white;
}

