/**HEADER**/
.header-nav{
	background:#2c758e ;
}
.logout{
	margin-left: 0.3rem;
}
/**GENERALTAGS**/
body{
	font-family: 'Montserrat', sans-serif;
}
h1{
	color: #2c758e;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 3rem;
	margin: 1rem auto;
}
.logo{
	color: white;
}
/**HOMEPAGE**/
.home-bk{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	object-fit: cover;
	object-position: 100% 0;
	width: 100%;
	max-width: 100%;
	height: 450px;
	left: 0;
	z-index: -1;
}
img{
	max-width: 100%;
}
.container_info_liste{
	text-align: center;
	padding: 2rem 0;
}
.icon_info_liste, .info_liste{
	font-size: 30px;
}
.icon_info_liste.one, .info_liste.one{
	color:#5595c5 ;
}
.icon_info_liste.two, .info_liste.two{
	color:#d36e70 ;
}
.icon_info_liste.three, .info_liste.three{
	color:#d2527F ;
}
.icon_info_liste.four, .info_liste.four{
	color:#7dc243 ;
}
.user_container_listes{
	margin-top: 3rem;
}
.user_container_listes h2{
	text-align: center;
	color: #2c758e;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 2rem;
	margin: 1rem auto;
}
.container-listes{
	margin: 2rem auto;
}
.link_to_liste{
	color: white;
	text-decoration: none;
	position: absolute;
	bottom: 10px;
	right: 20px;
}
.link_to_liste .fas{
	margin-left: 0.3rem;
	color: white;
}
.link_to_liste:hover{
	color: white;
}
.link_to_liste:hover .fas{
	margin-left: 1rem;
}
/**LISTES**/
.container-listes{
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	grid-gap: 15px;
	grid-auto-flow: row dense;
}
.liste-item{
	border-radius: 15px;
	box-shadow: 0 2px 3px #dadada;
	background:#2c758e ;
	color: white;
	display: flex;
	flex-direction: row;
}
.liste-item .card-img-top{
	border-radius: 15px;
	max-width: fit-content;
}
.img-objet{
	max-width: 35%;
}
a.nav-link{
	color: white !important;
	text-decoration: none !important;
}
/**FOOTER**/
footer{
	background:#2c758e ;
	margin-top: 4rem;
	padding: 2rem 1rem;
}
